<h2><%= @title = @room.label %></h2>

<div id="room" data-action="<%= room_path(@room, 'json') %>">
  <div class="messages column">
    <table id="messages">
      <tbody>
        <%= render @room.messages %>
      </tbody>
    </table>
    
    <% form_for [@room, Message.new] do |f| %>
      <div class="fields">
        <div class="field"><%= f.text_area :body, :rows => 5, :cols => 80 %></div>
        
        <div class="submit">
          <%= f.submit 'New message' %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="sidebar column">
    <h3>Online:</h3>
    <table id="online_members">
      <tbody>
        <%= render @room.members.online %>
      </tbody>
    </table>
  </div>
</div>