<h2><%= @title = @room.label %></h2>

<table id="messages" data-action="<%= room_messages_path(@room) %>">
  <tbody>
    <%= render @room.messages %>
  </tbody>
</table>

<% form_for [@room, Message.new] do |f| %>
  <div class="fields">
    <div class="field"><%= f.text_area :body, :rows => 5, :cols => 80 %></div>
    
    <div class="submit">
      <%= f.submit 'New message' %>
    </div>
  </div>
<% end %>