<h2><%= @title = @room.label %></h2>

<div id="room" data-action="<%= room_path(@room, 'json') %>">
  <div class="messages column">
    <table id="messages">
      <tbody>
        <tr>
          <th></th>
          <td><%= open_link_to 'Earlier messages…', room_messages_on_day_path(@room, :day => Date.today) %></td>
        </tr>
        
        <%= render @messages %>
      </tbody>
    </table>
    
    <% form_for [@room, Message.new] do |f| %>
      <div class="fields">
        <div class="field"><%= f.text_area :body, :rows => 5, :cols => 80, :tabfocus => 0 %></div>
        
        <div class="submit">
          <%= f.submit 'Send message' %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="sidebar column">
    <div>
      <h3 id="topic"><%=h @room.topic %></h3>
      <% form_for @room do |f| %>
        <%= f.text_field :topic, :size => 12 %>
        <%= f.submit 'Save topic' %>
      <% end %>
    </div>
    
    <div>
      <% form_tag room_messages_path(@room), :method => :get do %>
        <%= text_field_tag 'q', '', :size => 12, :tabfocus => 1 %>
        <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </div>
    
    <div>
      <% form_for @membership do |f| %>
        <%= f.label :mute_audio, 'Mute', :for => 'mute' %>
        <%= f.check_box :mute_audio, :id => 'mute' %>
      <% end %>
    </div>
    
    <div>
      <h3>Online:</h3>
      <table id="online_members">
        <tbody>
          <%= render @room.members.online %>
        </tbody>
      </table>
      <%= link_to 'Invite member', new_room_member_path(@room) if @authenticated.admin? %>
    </div>
  </div>
</div>