<div>
  <% form_for [@room, @member] do |f| %>
    <h2><%= @title = 'Invite' %></h2>
    
    <%= error_messages_for :member %>
    
    <div class="fields">
      <div class="field">
        <div class="label"><%= f.label :email %></div>
        <div class="field"><%= f.text_field :email %></div>
      </div>
      
      <div class="submit">
        <%= f.submit 'Send invitation' %>
        <%= link_to 'Back', root_path, :class => 'cancel' %>
      </div>
    </div>
  <% end %>
</div>